.overview-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  font-size: 14px;
}

.overview-table thead th {
  color: #878787;
  text-align: left;
  margin-bottom: 10px;
}

.overview-table th,
td {
  padding: 10px;
  font-weight: normal;
}

.overview-table tbody tr {
  transition: 0.5s;

  &:nth-child(odd) {
    background-color: rgba(238, 242, 245, 0.4)
  }

  &:hover {
    background-color: rgb(230, 233, 235)
  }
}

.overview-table tbody:before {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}

.overview-table .owner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  img {
    width: 34px;
    height: 34px;
    margin-right: 20px;
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;
  }
}

.overview-table .profits {
  color: #00ca39;
}

.overview-table .losses {
  color: #e44067;
}