.overview {
  display: flex;
  flex: 1;  
  flex-flow: column wrap;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
}

.overview .head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.overview .head .title {
  margin-right: 30px;
}

.overview .head .title > h2 {
  font-size: 38px;
  font-weight: normal;
}

.overview .head .actions {
  display: flex;
  flex-flow: row nowrap;

  button + button {
    margin-left: 10px;
  }
}

.overview section.table {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .overview .head .title > h2 {
    font-size: 26px;
  }
  .overview {
    margin-left: 10px;
    margin-right: 10px;
  }
}