.modal__wrapper {
  position: absolute;
  background-color: rgba(226, 177, 177, 0.651);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal__content {
  position: relative;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}